body
{
<<<<<<< HEAD
<<<<<<< HEAD
    color: blue;
=======
    color: red;
>>>>>>> cabecera
    text-align: center;
    font-family: "arial";
=======
    color: rgb(31, 63, 207);
    text-align: center;
    font-family: "Arial";
>>>>>>> 7f46477fb77ac1042365feaf3e2ff764229abdb0
    font-size: 16px;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

#cabecera 
{
    background: #33A; 
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecra  #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
=======
#container
{
    width: 70%;
    padding: 1em;
>>>>>>> 7f46477fb77ac1042365feaf3e2ff764229abdb0
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
<<<<<<< HEAD
    font-size: 20px;
}
#post
{
    padding: 1em;

=======
    font-size: 25px;
>>>>>>> 7f46477fb77ac1042365feaf3e2ff764229abdb0
}
